html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #EEEEEE;
}
/*NAV-BAR*/

.nav-bar-top li{
  display: inline;
  list-style: none;
  padding-left: 125px;

}

#nav-bar{
  position: absolute;
  top:0px;
  right: 140px;
  left: unset;
  

}

#header-img {
  margin-top: 20px;
  width: 280px;
  object-fit: cover;
}

@media (min-width: 400px) and (max-width: 767px) {
  header {
    min-width: 200px;
    max-width: 600px;
  }
}
/*TITLE*/

.title{
  font-weight: 600;
  font-size: 25px;
}

.title-started {
  display:block;
  justify-items: center;
  align-items: center;
}

.title-started {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.started-button {
  background-color:#F1C40F;
  border-style: none;
  font-size:18px ;
  font-weight: 700;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

input{
  width: 300px;
  height: 21px;
  
}

input, button {
  margin: 5px; 
}
/* Main section block 1*/

.icon{
  width: 55px;
  height: 55px;
}

.grid-container {
  display: grid;
  grid-template-columns: 60px 730px;
  place-items: center;
  justify-content: center;
  padding-top: 70px;
  column-gap: 40px;
  row-gap: 30px ;
}
/* Main section block 2*/

.video{
  width: 560px;
  height: 315px;
}

.block-video{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

/*price section*/
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}


.block-cost{
  border:1px solid black;
  width: 300px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.button-price{
  background-color: #F1C40F;
  border: none;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border-radius: 4px;
}

h3{
  background-color:#DDDDDD;
  margin-top:0;
  height: 40px;
  padding-top: 20px;
}

.lore-ipsum{
  line-height: 1.7;
}

.cost{
  font-weight: 600;
  font-size: 25px;
}